<div class="grouped_memes">
  <% memes.each do |meme| %>
    <div class="meme">
      <div class="image">
        <img src="<%= meme.url_source %>">
      </div>
      <div class="author">
        <p>Created by <%= meme.owner.username%></p>
      </div>
    </div>
  <% end %>
</div>