<% @memes.each do |date, memes|%>
  <h2><%= date.strftime('%a, %b %d')%></h2>
  <div class="date_memes">
    <% memes.each do |meme| %>
      <div class="meme">
        <div class="image">
          <img src="<%= meme.url_source %>">
        </div>
        <div class="author">
         <p>Created by</p>
        </div>
      </div>
    <% end %>
  </div>
<%end%>
